* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}


:root {
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --btn: #e4a208;
    --tri2: #74512D;
    --red: red;
    --green: rgb(9, 138, 89);
    --blue: rgb(0, 191, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(assest/font/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(assest/font/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(assest/font/AeonikTRIAL-Bold.otf);
}


#main {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    font-family: aeonik;
    color: var(--pri);
    user-select: none;
}

nav {
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
    position: fixed;
    z-index: 10;
}

section.all-element {
    width: 100%;
    min-height: 100%;
    background-color: var(--sec);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 80px;
    padding-left: 30px;
    position: absolute;
}


section .element {
    background-color: var(--tri1);
    width: 230px;
    height: 320px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 200;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
}

section .element>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section .element>.text {
    text-transform: capitalize;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(71, 69, 69, 0), rgba(0, 0, 0, 0.537));
    transform: translateY(100%);
    transition: all 0.5s ease;
}

section .element:hover .text {
    transform: translateY(0);
}

section .element:active {
    transform: scale(0.9);
}

section .element:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.642);
}


.fullElem {
    width: 100%;
    height: 100%;
    background-color: var(--sec);
    color: var(--pri);
    display: none;
    position: absolute;
    z-index: 11;

    padding: 1.5rem;
}


.fullElem-continer {
    width: 100%;
    height: 100%;
    /* background-color: #74512D; */
    border-radius: 25px;
    overflow: hidden;
    background: linear-gradient(135deg, var(--tri2) 0%, var(--sec) 100%);
}

.heading {
    padding: 15px 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.heading>h1 {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn {
    border: none;
    padding: 9px 23px;
    font-weight: 2500;
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: var(--btn);
    color: var(--sec);
    font-weight: 500;
}

.btn:active {
    transform: scale(0.97);

}

.btn:hover {
    transform: translateY(-3px);
    background-color: var(--pri);

}

.todo-container {
    width: 100%;
    height: 90%;
    background-color: #4e3621;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 10px;

}

.addTask {

    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.addTask>h2 {
    font-size: 1.5rem;
    font-weight: 500;

}

.addTask .all-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addTask .all-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.form-label {
    font-size: 14px;
    font-weight: 600;
    color: var(--pri);
}

.addTask .all-form .form-group>input {
    width: 100%;
    padding: 12px 12px;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.addTask .all-form .form-group>input:focus {

    border: 2px solid var(--tri1);
}

.addTask .all-form .form-group>textarea {
    width: 100%;
    height: 5rem;
    padding: 12px 12px;
    outline: none;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.addTask .all-form .form-group>textarea:focus {
    border: 2px solid var(--tri1);
}

.addTask .all-form .form-group>select {
    width: 100%;
    padding: 12px 12px;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-family: inherit;
}



.addTask .all-form .checkbox-group {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start;
}

.checkbox-group input[type="checkbox"] {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    accent-color: var(--tri1);
}

.add-btn {
    width: 100%;
    background: var(--tri1);
    color: var(--sec);
    border: none;
    padding: 14px 32px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(to right, var(--btn)0%, var(--tri2)100%);
}

.add-btn:hover {
    transform: translateY(-2px);
    background: var(--pri);

}

.task-input:focus,
.task-textarea:focus,
.task-select:focus {
    border-color: var(--tri1);
    box-shadow: 0 0 0 1px rgba(254, 186, 23, 0.2);
}


.allTask {
    background-color: #e4a208;
    padding: 25px;
    background: linear-gradient(to right, var(--btn)0%, var(--tri2)100%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
}
.allTask::-webkit-scrollbar {
   display: none;
}
.allTask .task-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.allTask .task-header .delete-all-btn {
   background-color: var(--red);
   color: var(--pri);
   border: none;
   padding: 9px 14px;
   font-size: 15px;
   font-weight: 700;
   border-radius: 5px;
   transition: all 0.3s ease;
}
.allTask .task-header .task-count {
  font-weight: 700;
  font-size: 18px;
  color: var(--sec);
}
.allTask .task-header .delete-all-btn:hover{
   background-color: rgb(143, 5, 5);
   box-shadow: 5px 5px 16px  rgba(235, 69, 69, 0.495);
   transform:  translateY(-3px);
}

.allTask .task {
    color: black;
    width: 100%;
    /* height: 100px; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}
.allTask .task:hover {
   transform: translateY(-2px);
   border-bottom: 2px solid rgb(245, 20, 20);
   border-left: 2px solid red;
   border-right: 2px solid red;
}
.allTask .task .left {
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.allTask .task .left .title{
   font-weight: 700;
   font-size: 20px;
}
.allTask .task .left .description{
   font-weight: 500;
   font-size: 14px;
   color: rgba(101, 98, 98, 0.808);
}
.allTask .task .left .priority{
   font-size: 11.5px;
   background-color: #F5D7C4;
   color: var(--red);
   width: fit-content;
   padding: 4px 8px;
   font-weight: 500;
   border-radius: 5px;
   margin-top: 5px;
}
.allTask .task .right .status-btn {
    background-color: #F2F2F2;
    color: #808080;
    padding: 6px 12px;
    border: 1.5px solid #808080;
    font-weight: 600;
    font-size: 13px;
    border-radius: 8px;
}
.allTask .task .right  {
   display: flex;
   align-items: flex-start;
   gap: 10px;
}
.allTask .task .right .delete-task-btn {
    background-color: #F5D7C4;
    color: var(--red);
    padding: 7px 13px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.allTask .task .right .delete-task-btn:hover {
    background-color: var(--red);
    color: var(--pri);
}


